@import "../bower_components/normalize.css/normalize.css";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "../bower_components/angular-dropdowns/dist/angular-dropdowns.css";
@import "../bower_components/nvd3/nv.d3.min.css";
@import "../bower_components/octicons/octicons/octicons";
@import '../bower_components/primer-css/scss/primer';
@import 'crossbrowser';
@import "headroom-animate";

.content {
    margin-top: 80px;
}

.header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-header {
    width: 80%;
}

.right-header {
    width: 20%;
}

.header-logo {
    width: 32px;
    height: 32px;
    bottom: 2px;
    position: relative;
}

.header-title {
    font-weight: bold;
    padding-left: 0.8em;
    font-family: serif;
    font-size: large;
}

.left-header a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

footer hr {
    margin-top: 100px;
}

footer div {
    padding-top: 10px;
    padding-bottom: 40px;
}

.footer-logo {
    width: 32px;
    height: 32px;
}

.middle-footer {
    text-align: center;
    display: inline;
    width: 20%;
}

.left-footer {
    width: 40%;
    text-align: left;
    display: inline;
    padding-top: 17px;
}

.left-footer a {
    padding-left: 10px;
}

.right-footer {
    width: 40%;
    text-align: right;
    display: inline;
    padding-top: 17px;
}

.right-footer a {
    padding-right: 10px;
}

.inbox.unread {
    color: #f00000;
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    vertical-align: -2px;
    border: 4px solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.wrap-dd-menu .dropdown {
    top: 100%;
}

.wrap-dd-menu {
    width: 100%;
    text-align: center;
    display: inline;
}

.wrap-dd-menu .dropdown:before {
    right: 50%;
}

.wrap-dd-menu .dropdown:after {
    right: calc(50% + 2px);
}

.right-header .wrap-dd-menu {
    text-align: left;
}

.right-header .wrap-dd-menu .dropdown {
    width: 200px;
    left: -65px;
}

.wrap-dd-menu .dropdown li a {
    border-bottom: none;
    padding: 5px;
}

.wrap-dd-menu .dropdown li.divider {
    padding-top: 1px;
    padding-bottom: 0;
}

