@import "../bower_components/normalize.css/normalize.css";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "../bower_components/angular-dropdowns/dist/angular-dropdowns.css";
@import "../bower_components/nvd3/nv.d3.min.css";
@import "../bower_components/octicons/octicons/octicons";
@import '../bower_components/primer-css/scss/primer';
@import 'crossbrowser';
@import "headroom-animate";

.header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-container {
    @extend .container;
}

.header-content {
    @extend .columns;
}

.header-identity {
    width: 80%;
    @extend .column;
}

.header-navigate {
    width: 20%;
    text-align: right;
    @extend .column;
}

.header-logo {
    width: 32px;
    height: 32px;
    bottom: 2px;
    position: relative;
}

.header-title {
    font-weight: bold;
    margin-left: 0.8em;
    font-family: serif;
    font-size: large;
}

.header-identity a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.no-avatar {
    @extend .mega-octicon;
    @extend .octicon-file-media;
}

footer hr {
    margin-top: 40px;
}

footer div {
    margin-top: 10px;
    margin-bottom: 40px;
}

.footer-logo {
    width: 32px;
    height: 32px;
}

.footer-brand {
    text-align: center;
    display: inline;
    width: 20%;
    @extend .column;
}

.footer-legal {
    width: 40%;
    text-align: left;
    display: inline;
    margin-top: 17px;
    @extend .column;
}

.footer-legal a {
    padding-left: 10px;
}

.footer-help {
    width: 40%;
    text-align: right;
    display: inline;
    margin-top: 17px;
    @extend .column;
}

.footer-help a {
    padding-right: 10px;
}

.footer-content {
    @extend .columns;
}

.inbox {
    @extend .fa;
    @extend .fa-envelope;
    @extend .fa-2x;
}
.inbox.unread {
    color: #f00000;
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    vertical-align: -2px;
    border: 4px solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.wrap-dd-menu .dropdown {
    top: 100%;
}

.wrap-dd-menu {
    width: 100%;
    text-align: center;
    display: inline;
}

.wrap-dd-menu .dropdown:before {
    right: 50%;
}

.wrap-dd-menu .dropdown:after {
    right: calc(50% + 2px);
}

.header-navigate .wrap-dd-menu {
    text-align: left;
}

.header-navigate .wrap-dd-menu .dropdown {
    width: 200px;
    left: -65px;
}

.wrap-dd-menu .dropdown li a {
    border-bottom: none;
    padding: 5px;
}

.wrap-dd-menu .dropdown li.divider {
    padding-top: 1px;
    padding-bottom: 0;
}

.main-container {
    @extend .container;
}

.main-content {
    margin-top: 80px;
}

.data-model-table {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    border-collapse: separate;
    width: 100%;
    background-color: rgb(248, 248, 248);
}

.data-model-table tbody tr td {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.data-model-table tbody tr:first-child td {
    border-top: none;
}

.data-model-table tbody tr:last-child td {
    border-bottom: none;
}

.analyzer-nav {
    @extend .column;
    width: 20%;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: -webkit-linear-gradient(left, #f6f6f6 0%, #fff 8px);
    background-image: linear-gradient(to right, #f6f6f6 0%, #fff 8px);
    box-shadow: inset 1px 0 0 #eee;
}

.analyzer-nav-group {
    list-style-type: none;
}

.analyzer-nav-separator {
    position: relative;
    height: 5px;
    margin: 8px 0 6px 1px;
    background-image: -webkit-radial-gradient(farthest-side at left top, #f4f4f4, rgba(244,244,244,0));
    background-image: radial-gradient(farthest-side at left top, #f4f4f4, rgba(244,244,244,0));
}

.analyzer-nav-item {
    position: relative;
}

.analyzer-nav-item a {
    display: block;
    padding: 8px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    outline: 0;
    text-decoration: none;
    color: #999999;
}

.analyzer-nav-item.selected a {
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border-color: #eee #eee #eee transparent;
    border-radius: 0 3px 3px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
}

.analyzer-nav-item.selected a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    content: "";
    background-color: #d26911;
    border-radius: 0 3px 3px 0;
}

.analyzer-header {
    @extend .columns;
}

.analyzer-title {
    @extend .column;
    width: 80%;
    padding: 0;
}

.analyzer-buttons {
    @extend .column;
    width: 20%;
}

.star-button {
    @extend .clearfix;
    display: inline;
    float: right;
}

.star-button-content {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-with-count;
}

.star-button-icon {
    @extend .octicon;
    @extend .o.cticon-star;
}

.star-button-count {
    @extend .social-count;
}

.analyzer-icon {
    @extend .fa-stack;
    @extend .fa-lg;
    display: inline;
    padding-left: 58px;
}

.analyzer-icon-bottom {
    @extend .fa;
    @extend .fa-cloud;
    @extend .fa-stack-2x;
}

.analyzer-title .analyzer-icon .analyzer-icon-bottom {
    color: #bbbbbb;
}

.analyzer-icon-top {
    @extend .fa;
    @extend .fa-dashboard;
    @extend .fa-stack-1x;
    @extend .fa-inverse
}

.analyzer-title-text {
    padding-top: 5px;
    display: inline-block;
}

.analyzer-title-text h2 {
    margin: 0;
}

.analyzer-container {
    @extend .columns;
}

.analyzer-content {
    @extend .column;
    width: 80%;
}

.analyzer-data-model-icon {
    @extend .octicon;
    @extend .octicon-code;
}

.analyzer-datastore-icon {
    @extend .octicon;
    @extend .octicon-database;
}

.analyzer-fitness-icon {
    @extend .octicon;
    @extend .octicon-flame;
}

.analyzer-endpoints-icon {
    @extend .octicon;
    @extend .octicon-radio-tower;
}

.analyzer-insights-icon {
    @extend .octicon;
    @extend .octicon-eye;
}

.analyzer-traffic-icon {
    @extend .octicon;
    @extend .octicon-pulse;
}

.analyzer-statistics-icon {
    @extend .octicon;
    @extend .octicon-graph;
}

.analyzer-configure-icon {
    @extend .octicon;
    @extend .octicon-tools;
}

.data-model-table-key-row td:first-child {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 16px;
}

.data-model-table-expand-icon {
    @extend .octicon;
    @extend .octicon-triangle-right;
}

.data-model-table-details-row td {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

.data-model-details-text td:first-child {
    text-align: right;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 5px;
}

.data-model-details-text td:last-child {
    text-align: left;
    border: none;
    padding: 0;
}
